<main>

  <div class='row gy-5'>

    <section class='col-12'>
      <div class='card text-bg-success'>
        <div class='card-header text-center'>Header</div>
        <div class='card-body text-center'>
          <h6 class='card-title'> This is title</h6>
          <p>Content</p>
          <button class='btn btn-light'>Click</button>
        </div>
        <div class='card-footer text-center'>Footer</div>
      </div>
    </section>

    <section class='col-3'>
      <div class="col-12">
      <div class='card'>
        <div class='card-header'>
          <div class='display-6'>
            Menu
          </div>
        </div>

        <ul class='list-group'>
          <li class='list-group-item'>
            <a href='#' class='btn btn-link' link>Home page</a>
          </li>
          <li class='list-group-item'>
            <a href='#' class='btn btn-link' link>Summary
              page</a>
          </li>
          <li class='list-group-item'>
            <a href='#' class='btn btn-link' link>Skills
              page</a>
          </li>
        </ul>

        <div class='card-footer'>
          <button class='btn btn-dark btn-sm'>Update list</button>
        </div>

      </div>
    </section>

    <section class='col-9'>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>
              #id
            </th>
            <th>
              Name
            </th>
            <th>
              Age
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>John</td>
            <td>35</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Akim</td>
            <td>33</td>
          </tr>
          <tr>
            <th>1</th>
            <td>John</td>
            <td>35</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Akim</td>
            <td>33</td>
          </tr>
          <tr>
            <th>1</th>
            <td>John</td>
            <td>35</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Akim</td>
            <td>33</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class='col-12'>
      <div class='row gy-4 gx-5'>
        
        <div class='col-3'>
          <div class='card text-bg-success'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'> This is title</h6>
              <p>Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content</p>
              <button class='btn btn-light'>Click</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>


        <div class='col-3'>
          <div class='card text-bg-success'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'> This is title</h6>
              <p>Content</p>
              <button class='btn btn-light'>Click</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>

        <div class='col-3'>
          <div class='card text-bg-success'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'> This is title</h6>
              <p>Content</p>
              <button class='btn btn-light'>Click</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>

          <div class='col-3'>
          <div class='card text-bg-success'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'> This is title</h6>
              <p>Content</p>
              <button class='btn btn-light'>Click</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>


                  <div class='col-3'>
          <div class='card text-bg-success'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'> This is title</h6>
              <p>Content</p>
              <button class='btn btn-light'>Click</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>


                  <div class='col-3'>
          <div class='card text-bg-success'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'> This is title</h6>
              <p>Content</p>
              <button class='btn btn-light'>Click</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>

      </div>

    </section>

  </div>

  {{! <div class='row'>
    <div class='card text-bg-dark'>
      <img
        class='card-img-top'
        src='https://picsum.photos/400/200'
        alt='Product photo'
      />
      <div class='card-body'>
        <h5 class='card-title text-bg-primary'>
          Product #154321
        </h5>
        <p class='text-bg-secondary'>Наушники Acme BH420W
          True<br />
          wireless inear headphones</p>

        <a href='/summary' class='btn btn-primary'>Open</a>
      </div>
    </div>

    <br />
    <br />
    <br />

    <div class='list-group'>
      <div class='list-group-item'>Item 1</div>
      <div class='list-group-item'>Item 2</div>
      <div class='list-group-item'>Item 3</div>
    </div>

    <br />

    <ul class='list-group lis-group-flush'>
      <li class='list-group-item'>
        <ul class='list-group'>
          <li class='list-group-item text-bg-dark'>Item 1.1</li>
          <li class='list-group-item text-bg-warning'>Item
            1.2</li>
          <li class='list-group-item text-bg-error'>Item 1.3</li>
        </ul>
      </li>
      <li class='list-group-item'>Item 2</li>
      <li class='list-group-item'>Item 3</li>
    </ul>

    <br />

    <div class='card text-bg-primary'>
      <div class='card-header'>
        <div class='display-6'>
          Menu
        </div>
      </div>

      <ul class='list-group'>
        <li class='list-group-item text-bg-dark'>
          <a href='#' class='btn btn-link' link>Home page</a>
        </li>
        <li class='list-group-item text-bg-warning'>
          <a href='#' class='btn btn-link' link>Summary page</a>
        </li>
        <li class='list-group-item text-bg-danger'>
          <a href='#' class='btn btn-link' link>Skills page</a>
        </li>
      </ul>

      <div class='card-footer'>
        <button class='btn btn-dark btn-sm'>Update list</button>
      </div>

    </div>

    <br />
    <br />
    <br />

    <table class='table table-bordered text-bg-success'>
      <thead>
        <tr>
          <th>
            #id
          </th>
          <th>
            Name
          </th>
          <th>
            Age
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>John</td>
          <td>35</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Akim</td>
          <td>33</td>
        </tr>
        <tr>
          <th>1</th>
          <td>John</td>
          <td>35</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Akim</td>
          <td>33</td>
        </tr>
        <tr>
          <th>1</th>
          <td>John</td>
          <td>35</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Akim</td>
          <td>33</td>
        </tr>
      </tbody>
    </table>

    <div class='card text-bg-success'>
      <div class='card-header text-center'>Header</div>
      <div class='card-body text-center'>
        <h6 class='card-title'> This is title</h6>
        <p>Content</p>
        <button class='btn btn-light'>Click</button>
      </div>
      <div class='card-footer text-center'>Footer</div>
    </div>

    <br />
    <br />
    <br />

    <div class='row'>

      <div class='col-3'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'> This is title</h6>
            <p>Content</p>
            <button class='btn btn-light'>Click</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>

      <div class='col-3'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'> This is title</h6>
            <p>Content</p>
            <button class='btn btn-light'>Click</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>

      <div class='col-3'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'> This is title</h6>
            <p>Content</p>
            <button class='btn btn-light'>Click</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>

      <div class='col-3'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'> This is title</h6>
            <p>Content</p>
            <button class='btn btn-light'>Click</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>

    </div>

    <br />
    <br />
    <br />

    <div class='row'>

      <div class='col-3'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'> This is title</h6>
            <p>Content</p>
            <button class='btn btn-light'>Click</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>

      <div class='col-3'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'> This is title</h6>
            <p>Content</p>
            <button class='btn btn-light'>Click</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>

      <div class='col-6'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'> This is title</h6>
            <p>Content</p>
            <button class='btn btn-light'>Click</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>

    </div>

    <br />
    <br />
    <br />

    <div class='row gx-5 gy-1'>

      <div class='col-5'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'> This is title</h6>
            <p>Content</p>
            <button class='btn btn-light'>Click</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>

      <div class='col-5'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'> This is title</h6>
            <p>Content</p>
            <button class='btn btn-light'>Click</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>

      <div class='col-5'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'> This is title</h6>
            <p>Content</p>
            <button class='btn btn-light'>Click</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>

    </div>
  </div> }}
</main>