<main>
  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>Third capitalized each woORD</h3>

  <hr />

  <div class='display-1 text-muted'>Hello world</div>
  <div class='display-5'>Second</div>
  <div class='display-6'>Third</div>

  <hr />

  <div class='text-muted text-end'>
    Додатковий текст
  </div>

  <span>span</span>

  <div class='text-muted text-end'>
    Додатковий
    <span class='display-6'>текст</span>
  </div>

  <hr />

  <button class='btn btn-primary'>
    <span class='text-uppercase'>Button primary</span>
    <h1>Test</h1>
  </button>

  <hr />

  <button class='btn btn-secondary'>
    <span class='text-uppercase'>Button secondary</span>
  </button>

  <button class='btn btn-success'>
    <span>Button success</span>
  </button>

  <button class='btn btn-danger'>
    <span>Button danger</span>
  </button>

  <button class='btn btn-warning'>
    <span>Button warning</span>
  </button>

  <button class='btn btn-info'>
    <span>Button info</span>
  </button>

  <button class='btn btn-light'>
    <span>Button light</span>
  </button>

  <button class='btn btn-dark'>
    <span>Button dark</span>
  </button>

  <button class='btn btn-link'>
    <span>Button link</span>
  </button>

  <a href='#' class='btn btn-link'>
    <span>Button link</span>
  </a>

  <a href='#' class='btn btn-primary'>
    <span>Button link</span>
  </a>

  <button href='#' class='btn btn-link'>
    <span>Button link</span>
  </button>

  <hr />

  <p class='text-primary'>
    my text
  </p>

  <p class='text-secondary'>
    my text secondary
  </p>

  <p class='text-muted'>
    my text muted
  </p>

  <p class='text-danger'>
    my text dangerous
  </p>

  <p class='text-warning'>
    my text warning
  </p>
  <p class='text-info'>
    my text info
  </p>
  <p class='text-light'>
    my text light
  </p>

  <p class='text-success'>
    my text muted
  </p>

  <p class='text-success'>
    my text muted
  </p>

  <p class='text-dark'>
    my text dark
  </p>
  <p class=''>
    my text empty
  </p>

  <hr />

  <button class='btn btn-outline-primary'>
    <span class='text-uppercase'>Button outline primary</span>
  </button>

  <button class='btn btn-outline-secondary'>
    <span class='text-uppercase'>Button outline secondary</span>
  </button>

  <button class='btn btn-outline-danger'>
    <span class='text-uppercase'>Edit</span>
  </button>

  <button class='btn btn-outline-success btn-lg'>
    <span class='text-uppercase'>success</span>
  </button>

  <button class='btn btn-outline-warning'>
    <span class='text-uppercase'>warning</span>
  </button>

  <button class='btn btn-outline-info btn-sm'>
    <span class='text-uppercase'>info</span>
  </button>

  <button class='btn btn-outline-light'>
    <span class='text-uppercase'>light</span>
  </button>

  <button class='btn btn-outline-dark'>
    <span class='text-uppercase'>dark</span>
  </button>

  <button class='btn btn-outline-danger'>
    <span class='text-uppercase'>Edit</span>
  </button>

  <button class='btn btn-outline-danger'>
    <span class='text-uppercase'>Edit</span>
  </button>

  <hr />

  <button class='btn btn-outline-success btn-lg'>
    <span class='text-uppercase'>success</span>
  </button>

  <button class='btn btn-outline-warning'>
    <span class='text-uppercase'>warning</span>
  </button>

  <button class='btn btn-outline-info btn-sm'>
    <span class='text-uppercase'>info</span>
  </button>

  <hr />

  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>

  <div class='card'>
    <div class='card-body'>
      <button class='btn btn-outline-success btn-lg'>
        <span class='text-uppercase'>success</span>
      </button>

      <button class='btn btn-outline-warning'>
        <span class='text-uppercase'>warning</span>
      </button>

      <button class='btn btn-outline-info btn-sm'>
        <span class='text-uppercase'>info</span>
      </button>
    </div>
  </div>

</main>