{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>

  <div class='row'>
    <h1 class='mt-5 mb-3 px-0'>Список сторінок</h1>

    <p class='ps-0 mb-5'>
      Це мій перший проект
    </p>
  </div>

  <div class='row'>
    <p class='ps-0'>
      <a
        href='/shophome'
        class='btn btn-primary'
        target='_blank'
        style='width: 121px'
      >Shop Home</a>
    </p>
  </div>

  <div class='row'>
    <p class='ps-0'>
      <a
        href='/shoporder'
        class='btn btn-primary'
        target='_blank'
        style='width: 121px'
      >Shop Order</a>
    </p>
  </div>

  <div class='row'>
    <p class='ps-0'>
      <a
        href='/shopcart'
        class='btn btn-primary'
        target='_blank'
        style='width: 121px'
      >Shop Cart</a>
    </p>
  </div>

  <div class='row'>
    <p class='ps-0'>
      <a
        href='/shopprofile'
        class='btn btn-primary'
        target='_blank'
        style='width: 121px'
      >Shop Profile</a>
    </p>
  </div>

  <div class='row'>
    <p class='ps-0'>
      <a
        href='/shopreview'
        class='btn btn-primary'
        target='_blank'
        style='width: 121px'
      >Shop Review</a>
    </p>
  </div>

  <div class='row mb-5'>
    <p class='ps-0'>
      <a
        href='/shopcatalog'
        class='btn btn-primary'
        target='_blank'
        style='width: 121px'
      >Shop Catalog</a>
    </p>
  </div>

  <div class='row mb-5'>
    <p class='ps-0'>
      <a
        href='/summary'
        class='btn btn-primary'
        target='_blank'
        style='width: 155px'
      >Resume Summary</a>
    </p>
  </div>

  <div class='row'>
    <p class='ps-0'>
      <a
        href='/web'
        class='btn btn-primary'
        target='_blank'
        style='width: 121px'
      >Web</a>
    </p>
  </div>

  <div class='row'>
    <p class='ps-0'>
      <a
        href='/web_table'
        class='btn btn-primary'
        target='_blank'
        style='width: 121px'
      >Web 2</a>
    </p>
  </div>

</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}