<div>
  <main>
    {{#with web}}
        <div>
            {{> title data="Languages" big=true}}
            <hr>
            <ul>
                {{#each languages}}
                    <li>
                        <strong>{{name}}</strong>
                        <br>
                        <br>
                        <div>
                            Version:
                            {{version}}
                        </div>
                        <br>
                        <div>
                            Description:
                            <em>
                                {{description}}
                            </em>
                        </div>
                        <br>                     

                        {{#if elements}}
                            {{> entities name="Elements" entities=elements nameSub="Attributes"}}
                        {{/if}}
                        
                        {{#if properties}}
                            {{> entities name="Properties" entities=properties nameSub="Values"}}
                        {{/if}}

                        {{#if functions}}
                            {{> entities name="Functions" entities=functions nameSub="Parameters"}}
                        {{/if}}

                    </li>
                    <hr>
                    <br>
                {{/each}}
            </ul>
        </div>
    {{/with}}
  </main>
</div>