<div>
  <main>
    {{#with web}}
        <div>
            {{> title data="Languages" big=true}}
            <hr>
            <br>
            <ul>
                {{#each languages}}
                    <li>
                        <strong>{{name}}</strong>
                        <br>
                        <br>
                        <div>
                            Version:
                            {{version}}
                        </div>
                        <br>
                        <div>
                            Description:
                            <em>
                                {{description}}
                            </em>
                        </div>

                        <br>

                        {{#if elements}} 
                            {{> table name="Elements" nameSub="Attributes" row=elements}}
                        {{/if}}

                        {{#if properties}} 
                            {{> table name="Properties" nameSub="Values" row=properties}}
                        {{/if}}

                        {{#if functions}} 
                            {{> table name="Functions" nameSub="Name" row=functions}}
                        {{/if}}
                     
                    </li>
                    <br>
                    <hr>
                    <br>
                {{/each}}
            </ul>
        </div>
    {{/with}}
  </main>
</div>