<div>
  <main>
    {{#with web}}
        <div>
            {{> title data="Languages" big=true}}
            <hr>
            
            <ul>
                {{#each languages}}
                    <li>
                        <div class="mb-1">
                            <strong>{{name}}</strong>                        
                        </div>
                        
                        <div class="mb-1">
                            Version:
                            {{version}}
                        </div>
                        
                        <div class="mb-3">
                            Description:
                            <em>
                                {{description}}
                            </em>
                        </div>                        

                        {{#if elements}} 
                            {{> table name="Elements" nameSub="Attributes" row=elements}}
                        {{/if}}

                        {{#if properties}} 
                            {{> table name="Properties" nameSub="Values" row=properties}}
                        {{/if}}

                        {{#if functions}} 
                            {{> table name="Functions" nameSub="Name" row=functions}}
                        {{/if}}
                     
                    </li>
                    
                    <hr>
                    
                {{/each}}
            </ul>
        </div>
    {{/with}}
  </main>
</div>