<div class='row gy-4'>
  {{#each cards}}
    <div class='card col-4 px-0 mx-1' style='width: 32.4%'>
      <img src={{image}} class='card-img-top' />
      <div class='card-body'>
        <h5 class='mb-2'>{{title}}
          {{#if isHot}}
            <span
              class='badge bg-warning rounded-pill text-uppercase mt-1'
            >Hot!</span>
          {{/if}}
          {{#if isNew}}
            <span
              class='badge bg-primary rounded-pill mt-1'
            >Нове</span>
          {{/if}}
        </h5>
        <p>
          {{description}}
        </p>
      </div>
    </div>
  {{/each}}
</div>