{{#with location}}
  <address>
    <div>
      <i>Address:</i>
    </div>
    <div class='ms-1'>
      {{address}},
    </div>
    <div class='ms-1'>
      {{city}},
      {{country}}
    </div>
  </address>
{{/with}}