{{#each list}}
  <div class='form-check'>
    <label class='form-check-label'>{{value}}</label>
    <input
      name='seller'
      class='form-check-input'
      type='checkbox'
    />
  </div>
{{/each}}