{{! 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>
  <head>
    <title>
      {{name}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />

    <style>
      table, th, tr, td { border: 1px solid black;} th, td {
      padding: 7px; } caption { text-align: left; padding:
      7px;}

    </style>
  </head>

  <body>

    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   }}
    {{{body}}}

  </body>
</html>